<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979112021919-prbo7i2u0sio97m0g8v2qnttalf2malg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979112021919-prbo7i2u0sio97m0g8v2qnttalf2malg</string>
	<key>API_KEY</key>
	<string>AIzaSyC05wOriiCjSU3miVxQegRHqZtv4P-NOK8</string>
	<key>GCM_SENDER_ID</key>
	<string>979112021919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lzctrl.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-ccbba</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-ccbba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979112021919:ios:ef7f5119811303e692f7aa</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-ccbba.firebaseio.com</string>
</dict>
</plist>